@font-face {
    font-family: 'OpenSans'; 
    src: url('../fonts/OpenSans-Regular.ttf');
}

* {
	box-sizing: border-box;
	font-family: 'OpenSans';
}

h1 {
	text-align: center;
	font-size: 175%;
}

.title {
	position: relative;
	border-left: 1px solid black;
	border-bottom: 1px solid black; 	
	width: 150px;
	float: right;
	padding: 5px 15px 5px 15px;
	margin-bottom: 	8px;
	text-align: center;	
	margin-right: -15px;
	font-size: 125%;	
	font-weight: bold;
}

.first-title {
	background-color: pink;
}

.second-title {
	background-color: crimson;
	color: white;
}

.third-title {
	background-color: #ff6;
}

.col-content {
	border: 1px solid black;
	background-color: grey;
	margin: 15px;
	position: relative;
	padding: 0 15px 0px 15px;
}

.paragraph {
	clear: 	right;	
}

@media (min-width: 992px) {
	.col-ps-1, .col-ps-2, .col-ps-3, .col-ps-4, .col-ps-5, .col-ps-6, .col-ps-7, 
	.col-ps-8, .col-ps-9, .col-ps-10, .col-ps-11, .col-ps-12 {
		float: left;
	}

	.col-ps-1 {
		width: 8.33%
	}

	.col-ps-2 {
		width: 16.33%
	}

	.col-ps-3 {
		width: 25%
	}

	.col-ps-4 {
		width: 33.33% 
	}

	.col-ps-5 {
		width: 41.66%
	}

	.col-ps-6 {
		width: 50%
	}

	.col-ps-7 {
		width: 58.33%
	}

	.col-ps-8 {
		width: 66.66%
	}

	.col-ps-9 {
		width: 75%
	}

	.col-ps-10 {
		width: 83.33%
	}

	.col-ps-11 {
		width: 91.66%
	}

	.col-ps-12 {
		width: 100%
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, 
	.col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
		float: left;
	}

	.col-tb-1 {
		width: 8.33%
	}

	.col-tb-2 {
		width: 16.33%
	}

	.col-tb-3 {
		width: 25%
	}

	.col-tb-4 {
		width: 33.33% 
	}

	.col-tb-5 {
		width: 41.66%
	}

	.col-tb-6 {
		width: 50%
	}

	.col-tb-7 {
		width: 58.33%
	}

	.col-tb-8 {
		width: 66.66%
	}

	.col-tb-9 {
		width: 75%
	}

	.col-tb-10 {
		width: 83.33%
	}

	.col-tb-11 {
		width: 91.66%
	}

	.col-tb-12 {
		width: 100%
	}
}

@media (max-width: 767px) {
	.col-ph-1, .col-ph-2, .col-ph-3, .col-ph-4, .col-ph-5, .col-ph-6, .col-ph-7, 
	.col-ph-8, .col-ph-9, .col-ph-10, .col-ph-11, .col-ph-12 {
		float: left;
	}

	.col-ph-1 {
		width: 8.33%
	}

	.col-ph-2 {
		width: 16.33%
	}

	.col-ph-3 {
		width: 25%
	}

	.col-ph-4 {
		width: 33.33% 
	}

	.col-ph-5 {
		width: 41.66%
	}

	.col-ph-6 {
		width: 50%
	}

	.col-ph-7 {
		width: 58.33%
	}

	.col-ph-8 {
		width: 66.66%
	}

	.col-ph-9 {
		width: 75%
	}

	.col-ph-10 {
		width: 83.33%
	}

	.col-ph-11 {
		width: 91.66%
	}

	.col-ph-12 {
		width: 100%
	}
}