body {
	font-size: 16px;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
}

.navbar {
	border: none;
	border-radius: 0px;
}

.navbar-default {
	background-color: darkgray;
	border-top: 2px solid black;
	border-bottom: 2px solid black;	
}

.navbar-brand h1 {
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	color: black;
}

.navbar-brand a:hover, .navbar-brand a:active, .navbar-brand a:visited {
	text-decoration: none;
}

.navbar-brand {
	padding-top: 10px;
}

.container-fluid>.navbar-header {
	padding: 15px 0px 15px;
}

hr {
	border-top: 1px solid black;
	margin: 0px auto 0px;
}

.navbar-nav {
    margin: 0px -15px;
    padding: 7.5px 0px 7.5px 0px;
}

#nav-list {
	background-color: white;
}

.navbar-default .navbar-nav>li>a {
	color: black;	
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: darkgray;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-toggle:focus {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: white;
}

.row > h2 {
	margin: 0px 0px 15px;
	color: black;
	font-weight: bold;
}

.content div {
	background-color: darkgray;
	color: black;
	padding: 0px 15px 10px;
}

h3 {
	font-weight: bold;
}

@media (max-width: 767px) {
	.navbar-default {
		border: none;
	}

	.navbar-header {
		border-top: 2px solid black;
		border-bottom: 2px solid black;	
	}
}
